<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>M.Liebre</title>
    <script src="https://kit.fontawesome.com/35292d76ff.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/general.css">
</head>

<body>
    <header class="home__header">
        <div class="header-top">
            <a class="logo" href="/"><img src="/images/logo-mercado-liebre.svg" alt="Logo Mercado Liebre" /></a>
            <form class="search" action="/search" method="GET">
                <input type="search" name="busqueda" placeholder="Buscar productos, marcas y más" />
                <i class="fas fa-search"></i>
            </form>
        </div>

        <p class="home__compra--en">
            <i class="fas fa-hand-holding-usd"></i>
            Compra en cuota y sin tarjeta de crédito
        </p>


        <nav class="home-header-buttom-bar">
        </nav>
        <nav>
            <div class="header__buerger--menu">
                <i class="fas fa-bars"></i>
            </div>
        </nav>
        <nav class="navbar">
            <ul class="barra">
                <li><a href="#">Oferta</a></li>
                <li><a href="#">Tienda oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
        </nav>
        <nav class="navbar">
            <ul class="barra">
                <li><a href="./register.html">Crea tu cuenta<i class="far fa-address-card"></i></a></li>
                <li><a href="./login.html">Ingresar<i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="/">Mis compras<i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
    </header>
    <main class="register--main">
        <form class="register-form" action="registro" method="POST">
            <div class="register__form--detalles">
                <label for="Nombre">
                    <input class="register__form-input" type="text" name="Nombre" placeholder="Nombre y Apellido"  autocomplete="off" required>
                </label>

                <label for="usuario">
                    <input class="register__form-input" type="text" name="usuario" placeholder="Usuario" required autocomplete="off">
                </label>

                <label for="clave">
                    <input class="register__form-input" type="password" name="clave" placeholder="Contraseña" required>
                </label>
                <label for="clave">
                    <input class="register__form-input" type="password" name="clave" placeholder="Confirmar Contraseña" required>
                </label>

                <label for="email">
                    <input class="register__form-input" type="email" name="email" placeholder="Correo Electrónico" required autocomplete="off">
                </label>

                <div>
                    <h2 class="text">Fecha de Nacimiento</h2>
                    <input class="register__form-input" type="date" name="fecha" required>
                </div>

                <label for="domicilio">
                    <input class="register__form-input" type="text" name="domicilio" placeholder="Domicilio" required autocomplete="off">
                </label>
                <label for="provincia">Seleccione una provincia</label>
                <select class="register__form-input" name="provincia" id="provincia">
                <option value="BuenosAires">Buenos Aires</option>
                <option value="Catamarca">Catamarca</option>
                <option value="Chubut">Chubut</option>
                <option value="Chaco">Chaco</option>
                <option value="Cordoba">Córdoba</option>
                <option value="Corrientes">Corrientes</option>
                <option value="Entre Rios">Entre Ríos</option>
                <option value="Formosa">Formosa</option>
                <option value="Jujuy">Jujuy</option>
                <option value="LaPampa">La Pampa</option>
                <option value="LaRioja">LaRioja</option>
                <option value="Mendoza">Mendoza</option>
                <option value="Misiones">Misiones</option>
                <option value="Neuquén">Neuquén</option>
                <option value="Río Negro">Río Negro</option>
                <option value="Salta">Salta</option>
                <option value="San Juan">San Juan</option>
                <option value="San Luis">San Luis</option>
                <option value="Santa Cruz">Santa Cruz</option>
                <option value="Santa Fe">Santa Fe</option>
                <option value="Santiago del Estero">Santiago del Estero</option>
                <option value="Tierra del Fuego, Antártida e Islas del Atlántico Sur">Tierra del Fuego, Antártida e Islas del Atlántico Sur</option>
                <option value="Tucumán">Tucumán</option>                 
                </select>

                <div>
                    <h2 class="text">Perfil del usuario</h2>
                    <label for="TipoCuenta">Comprador
                        <input class="register__form__detalles--perfilusuario" type="radio" name="TipoCuenta" >
                    </label>

                    <label for="TipoCuenta">Vendedor
                        <input class="register__form__detalles--perfilusuario" type="radio" name="TipoCuenta" >
                    </label>
                </div>

                <div class="register__form__detalles--checkbox">
                    <h2 class="text">Intereses</h2>
                    <label for="checkbox-1">Electro
                        <input type="checkbox" name="checkbox-1">
                    </label>

                    <label for="checkbox-2">Moda
                        <input type="checkbox" name="checkbox-2">
                    </label>

                    <label for="checkbox-3">Hogar
                        <input type="checkbox" name="checkbox-3">
                    </label>

                    <label for="checkbox-4">Juguetería
                        <input type="checkbox" name="checkbox-4">
                    </label>

                    <label for="checkbox-5">Vida sana
                        <input type="checkbox" name="checkbox-5">
                    </label>
                
                </div>
                <h4>Ingresa su foto de perfil</h4>
                <label  for="fotoDeUsuario">
                    <input class="register__form-input" type="file" name="fotoDeUsuario" accept=".jpg , .png" required>
                </label>
            </div>
            <div class="asd">
            
                <button class="button_delete" type="reset">Borrar</button>

                <a href="./" class="register__form-submit">ENVIAR</a>
            </div>
            
        </form>
    </main>
    <footer>
        <section class="Section-footer">
            <div class="freet">

                <div>
                    <i class="fas fa-credit-card"></i>
                    <h4>Pagá con tarjeta o en efectivo</h4>
                    <p class="descrip">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                        puntos de pago. ¡Y siempre es seguro!</p>
                </div>
            </div>
            <div class="freet">
                <div>
                    <i class="fas fa-gift"></i>
                    <h4>Envío gratis desde $ 2.500</h4>
                    <p class="descrip">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                        productos. Es un beneficio de Mercado Puntos.</p>
                </div>
            </div>
            <div class="freet">
                <div>
                    <i class="fas fa-user-shield"></i>
                    <h4>Seguridad, de principio a fin</h4>
                    <p class="descrip">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                        porque estás siempre protegid@.</p>
                </div>
            </div>
            <div class="freet">
                <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </div>
        </section>
    </footer>
</body>

</html>